.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border: 1px solid #000;*/
  /*border: 1px solid #000;*/
}

.yAxis {
  width: 50px; /* Set by Redux */
  /*border: 1px solid blue;*/
}

.yLabel {
  font-size: 11px;
  /*border: 1px solid #000;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.data {
  display: column;
}

.positionValuesTable td {
  padding-left: 40px;
}