.barGraph {
  /*border: 1px solid #000;*/
}

.title {
  font-size: 18px;
  /*font-weight: bold;*/
  text-anchor: middle;
}
.axisLabel {
  font-size: 16px;
  /*font-weight: bold;*/
  text-anchor: middle;
}

.xlabel {
  composes: axisLabel;
}

.ylabel {
  composes: axisLabel;
}

.yTickText {
  font-size: 12px;
  text-anchor: end;
}
.xTickText {
  font-size: 12px;
  text-anchor: start;
}
