.variantTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border: 1px solid orange;*/
  /*border: 1px solid #000;*/
}

.data {
  display: column;
}

.genericTable td {
  padding-left: 40px;
}

.text {
  font-size: 10px;
}

.menus {
  display: flex;
  flex-direction: row;
}

.headers {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  /*border: 1px solid #000;*/
}

.row {
  display: flex;
  /*border: 1px solid blue;*/
}
