{
  "presets": [
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "styled-components",
    ["module-resolver", {
      "cwd": "babelrc",
      "alias": {
        "@resources": "./resources"
      }
    }]
  ]
}
