{
  "presets": [
    "react",
    "env",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "styled-components",
    [ "babel-plugin-webpack-alias", {
      "findConfig": "true",
      "config": "webpack.config.js"
      }]
  ]
}
