{
  "presets": [
    "react",
    "flow",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "styled-components",
    [ "babel-plugin-webpack-alias", {
      "findConfig": "true",
      "config": "webpack.config.js"
      }]
  ]
}
