{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true,
  },
  "env": {
    "mocha": true,
    "browser": true,
    },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-shadow": ["error", { "allow": ["error"] }],
    "arrow-body-style": 0,
    "no-console": 0,
    "func-names": 0,
    "no-multi-str": 0,
    "spaced-comment": 0,
    "react/forbid-prop-types": 0,
    "no-class-assign": 0,
    "no-plusplus": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-mutable-exports": 0,
    },
  "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
        }
    },
}
