{
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true,
    },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-shadow": 0,
    "arrow-body-style": 0,
    "no-console": 0,
    "func-names": 0,
    "spaced-comment": 0,
    "react/forbid-prop-types": 0,
    "no-plusplus": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/href-no-hash": 0,
    "import/no-mutable-exports": 0,
    "no-multiple-empty-lines": 0,
    "no-confusing-arrow": 0,
    "space-before-function-paren": 0,
    "no-use-before-define": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "import/prefer-default-export": 0,
    # "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/*.example.js"]}],
    "import/no-extraneous-dependencies": 0,
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }],
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
}
