{
  "extends": "airbnb",
  "ecmaFeatures": {
    "generators": true,
  },
  "env": {
    "mocha": true,
    "browser": true,
    },
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "no-shadow": ["error", { "allow": ["error"] }],
    "arrow-body-style": 0,
    "no-console": 0,
    "func-names": 0,
    "no-multi-str": 0,
    "spaced-comment": 0,
    "react/forbid-prop-types": 0,
    "no-class-assign": 0,
    "no-plusplus": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/href-no-hash": 0,
    "import/no-mutable-exports": 0,
    "no-multiple-empty-lines": 0,
    "generator-star-spacing": [2, {"before": false, "after": true}],
    "no-confusing-arrow": 0,
    "space-before-function-paren": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "_" }],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }],
    },
  "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
        }
    },
}
