# Dependencies
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# Logs
yarn-debug.log*
yarn-error.log*

# Deployment configuration
deploy_config.json

browser/build.env

# Build outputs
browser/dist

# Hail logs
hail-*.log

# macOS Finder Info
**/.DS_Store

# vscode settings
**/.vscode/
