.DS_Store
npm-debug.log
__pycache__/
*.pyc
*.log
*.cache
.ipynb_checkpoints
env
build
dist
.idea
node_modules
resources/*
*lib
bundle.js
bundle*.js
untracked
stats.txt
logs
*public/static/js/*
prototypes/test/data/*.json
prototypes/test/data/*.txt
prototypes/test/data/*.csv
prototypes/test/data/*.tsv
prototypes/test/data/*.swp
prototypes/node_modules
prototypes/build
prototypes/dist
framework/node_modules
framework/build
framework/dist
framework/public/static/js/*
python/resources/*
packages/dev-server/src/current.js
elastic-mappings
gnomadt2d.js
