.DS_Store
npm-debug.log
__pycache__/
*.pyc
*.log
*.cache
env
build
node_modules
components/test/data/*.json
components/test/data/*.txt
components/test/data/*.csv
components/test/data/*.tsv
components/test/data/*.swp
components/node_modules
components/build
components/dist
framework/node_modules
framework/build
framework/dist
framework/public/static/js/*
python/resources/*
