{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss"
  "rules": {
    "number-leading-zero": null,
    "unit-whitelist": ["em", "rem", "s", "px"],
    "color-hex-case": null,
    "comment-empty-line-before": null,
    "comment-whitespace-inside": null
  }
}
