<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  </head>
  <body>
    <div id="root"></div>

    <%
      if (gaTrackingId) {
    %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gaTrackingId %>"></script>
    <script>
      window.gaTrackingId = '<%= gaTrackingId %>';
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= gaTrackingId %>', { send_page_view: false });
      window.gtag = gtag;
    </script>
    <%
      }
    %>
  </body>
</html>
