apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: {{ cluster_name }}
spec:
  version: 6.8.12
  http:
    tls:
      selfSignedCertificate:
        disabled: true
  secureSettings:
    - secretName: es-snapshots-gcs-credentials
  nodeSets:
    - name: master
      count: 3
      config:  # https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html
        node.master: true
        node.data: false
        node.ingest: false
        node.ml: false
      podTemplate:
        metadata:
          labels:
            role: master
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: cloud.google.com/gke-nodepool
                        operator: NotIn
                        values:
                          - es-data
          initContainers:
            - name: sysctl
              securityContext:
                privileged: true
              command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
            - name: install-plugins
              command: ['sh', '-c', 'bin/elasticsearch-plugin install --batch repository-gcs']
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: standard
            resources:
              requests:
                storage: 100Gi
    - name: coordinating
      count: 3
      config:  # https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html
        node.master: false
        node.data: false
        node.ingest: false
        node.ml: false
      podTemplate:
        metadata:
          labels:
            role: coordinating
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: cloud.google.com/gke-nodepool
                        operator: NotIn
                        values:
                          - es-data
          initContainers:
            - name: sysctl
              securityContext:
                privileged: true
              command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
            - name: install-plugins
              command: ['sh', '-c', 'bin/elasticsearch-plugin install --batch repository-gcs']
    - name: data-blue
      count: 2
      config:  # https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html
        node.master: false
        node.data: true
        node.ingest: false
        node.ml: false
        cluster.routing.allocation.disk.watermark.low: '90%'
      podTemplate:
        metadata:
          labels:
            role: data
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: cloud.google.com/gke-nodepool
                        operator: In
                        values:
                          - es-data
          initContainers:
            - name: sysctl
              securityContext:
                privileged: true
              command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
            - name: install-plugins
              command: ['sh', '-c', 'bin/elasticsearch-plugin install --batch repository-gcs']
          containers:
            - name: elasticsearch
              env:
                - name: ES_JAVA_OPTS
                  value: '-Xms26g -Xmx26g'
              resources:
                requests:
                  cpu: 6
                  memory: 52Gi
                limits:
                  cpu: 7
                  memory: 52Gi
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: standard
            resources:
              requests:
                storage: 1750Gi
{% if n_ingest_pods > 0 %}
    - name: ingest
      count: {{ n_ingest_pods }}
      config:  # https://www.elastic.co/guide/en/elasticsearch/reference/current/settings.html
        node.master: false
        node.data: true
        node.ingest: true
        node.ml: false
      podTemplate:
        metadata:
          labels:
            role: ingest
        spec:
          affinity:
            nodeAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                nodeSelectorTerms:
                  - matchExpressions:
                      - key: cloud.google.com/gke-nodepool
                        operator: In
                        values:
                          - es-ingest
          initContainers:
            - name: sysctl
              securityContext:
                privileged: true
              command: ['sh', '-c', 'sysctl -w vm.max_map_count=262144']
            - name: install-plugins
              command: ['sh', '-c', 'bin/elasticsearch-plugin install --batch repository-gcs']
          containers:
            - name: elasticsearch
              env:
                - name: ES_JAVA_OPTS
                  value: '-Xms12g -Xmx12g'
              resources:
                requests:
                  cpu: 3
                  memory: 24Gi
                limits:
                  cpu: 3.5
                  memory: 24Gi
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes:
              - ReadWriteOnce
            storageClassName: standard
            resources:
              requests:
                storage: 2000Gi
{% endif %}
