.track {
  display: flex;
  align-items: center;
  /*border: 1px solid blue;*/
  margin-top: 5px;
}

.variantAxisName {
  font-size: 11px;
  /*border: 1px solid green;*/
}

.menus {
  display: flex;
  flex-direction: row;
}