@import "../config.css";

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  background-color: black;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.logo {
  color: white;
  font-size: 23px;
  margin-left: 40px;
  font-weight: bold;
}

.search { position: relative; }
.search .searchIcon {
  position: absolute;
  left: 7px;
  font-size: 15px;
}

.searchInput {
  height: 20px;
  width: 275px;
  /*margin-top: 2px;*/
  /*margin-right: 100px;*/
  text-indent: 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: row;
  padding-top: 3px;
}

.menuItem {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}