:root {
  --backgroundColor: #FAFAFA;
  --primaryColor: #375D81;
  --secondaryColor: #91AA9D;
  --exonColor: #375D81;
  --paddingColor: #183152
}

/*:root {
  --backgroundColor: #1E1E20;
  --primaryColor: #D9CB9E;
  --secondaryColor: #DC3522;
  --exonColor: #475453;
  --paddingColor: #5A5E5C
}*/
