@import 'normalize.css/normalize.css';
@import "./config.css";

* {
  /* include padding, etc., in box model */
  /*box-sizing: border-box;*/
}

*:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

.app {
  display: flex;inspector
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  /*border:  3px solid orange;*/
  height: 100%;
  width: 100%;
  background-color: var(--backgroundColor);
  }

.top {
  flex: 0 0 100%

}

html {
  height: 100%;
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100%;
  min-height: 100%;
  background-color: var(--backgroundColor);
}

h1 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.mainPanel {
  padding-left: 50px;
  padding-top: 10px;
}