@import "../config.css";

.track {
  display: flex;
  align-items: center;
  /*border: 1px solid blue;*/
}

.loadingAxisName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 11px;
  /*border: 1px solid green;*/
}

.cursorPosition { }

.areaClick {
  /*border: 1px solid yellow;*/
}

.navigatorContainerRect {
  fill: var(--backgroundColor);
  /*stroke: red;*/
}

.cursorPositionRect {
  fill: var(--secondaryColor);
}

.tablePositionRect {
  fill: var(--rowHoverColor);
}

