<!doctype html>
<html>
  <head>
    <title>gnomAD</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">

    <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="gnomAD">

    <style>
      html, body {
        height: 100%;
        width: 100%;
        background-color: #fafafa;
        font-family: Roboto, sans-serif;
        font-size: 14px;
      }

      @media print {
        html, body {
          background: none;
        }
      }
    </style>
  </head>
  <body>
    <div id="root"></div>

    <%
      if (htmlWebpackPlugin.options.gaTrackingId) {
    %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.gaTrackingId %>"></script>
    <script>
      window.gaTrackingId = '<%= htmlWebpackPlugin.options.gaTrackingId %>';
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= htmlWebpackPlugin.options.gaTrackingId %>', { send_page_view: false });
      window.gtag = gtag;
    </script>
    <%
      }
    %>
  </body>
</html>
