@import "../config.css";

.variantTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border: 1px solid #000;*/
  /*border: 1px solid #000;*/
}

.data {
  display: column;
}

.genericTable td {
  padding-left: 40px;
}

.text {
  font-size: 10px;
}

.menus {
  display: flex;
  flex-direction: row;
}

.headers {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  /*border: 1px solid red;*/
  /*border: 1px solid #000;*/
}

.row {
  display: flex;
  /*border: 1px solid blue;*/
  background-color: #FBFAFE;
}

.headerButtonContainer {
  display: flex;
  align-items: center;
  height: 100%;
  margin-bottom: 3px;
  border-bottom: 1px solid #000;
  /*width: 100%;*/
  /*border: 1px solid blue;*/
}

.headerButton {
  font-weight: bold;
  height: 100%;
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
  border-radius: 3px;
  border: 0;
  margin-bottom: 3px;
  /*border: 1px solid green;*/
}

.headerButton:hover {
  font-weight: bold;
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
  border-radius: 3px;
  border: 0;
}

