.variantTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*border: 1px solid orange;*/
  /*border: 1px solid #000;*/
}

.data {
  display: column;
}

.genericTable td {
  padding-left: 40px;
}

.text {
  font-size: 10px;
}

.menus {
  display: flex;
  flex-direction: row;
}

.headers {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  /*border: 1px solid #000;*/
}

.row {
  display: flex;
  height: 100%;
  /*border: 1px solid blue;*/
}

.headerButtonContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /*border: 1px blue #000;*/
}

.headerButton {
  font-weight: bold;
  color: black;
  background-color: white;
  border-radius: 3px;
  border: 0;
}

.headerButton:hover {
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 3px;
  border: 1px solid #000;
  border: 0;
}

.highlight {
  /*background-color: #fffec0;*/
  background-color: red;
}