name: GraphQL API CI
on:
  push:
    branches:
      - main
    paths:
      - 'graphql-api/**'
      - 'package.json'
      - 'yarn.lock'
  pull_request:
    paths:
      - 'graphql-api/**'
      - 'package.json'
      - 'yarn.lock'
jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: ^8.8.0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '^18.17.1'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Run ESLint
        run: pnpm eslint graphql-api
      - name: Type check
        run: pnpm ts-node ./browser/build/buildHelp.ts && pnpm typecheck
      - name: Run tests
        run: pnpm jest --selectProjects graphql-api
